<app-header
  (cambiarPassword)="abrirCambioPassword()"
  (cambiarFoto)="abrirCambioFoto()"
  (abrirDrawer)="abrirDrawerNotificaciones()"
/>
<main class="shell-main">
  <router-outlet />
</main>
<app-bottom-nav />

<app-notificaciones-drawer
  [abierto]="drawerNotificaciones()"
  (cerrar)="cerrarDrawerNotificaciones()"
/>

@if (mostrarCambioPassword()) {
  <app-cambiar-password (cerrar)="onPasswordCerrado()" />
}

@if (cambioPasswordManual()) {
  <app-cambiar-password [soloPassword]="true" (cerrar)="onPasswordCerrado()" />
}

@if (mostrarEditorAvatar()) {
  <div class="shell-avatar-modal" (click)="cerrarEditorAvatar()">
    <div class="shell-avatar-modal__sheet" (click)="$event.stopPropagation()">
      <app-avatar-editor
        (completado)="cerrarEditorAvatar()"
        (omitido)="cerrarEditorAvatar()"
      />
    </div>
  </div>
}
