@if (noticia()) {
  <div class="detalle-noticia">
    <button (click)="goBack()" class="btn-volver">
      <i class="bi bi-chevron-left"></i>
      Volver
    </button>

    @if (noticia()!.imagenUrl) {
      <img [src]="noticia()!.imagenUrl" [alt]="noticia()!.titulo" class="detalle-noticia__imagen" />
    } @else {
      <div class="noticia-accent"></div>
    }

    <p class="detalle-noticia__fecha">
      {{ noticia()!.fecha | date:'d MMMM yyyy' : '' : 'es' }}
    </p>
    <h1 class="detalle-noticia__titulo">{{ noticia()!.titulo }}</h1>
    <p class="detalle-noticia__contenido">{{ noticia()!.contenido }}</p>
  </div>
}
